body {
  padding: 50px;
  background-color: #481a0e;
  /* background-color: #202124; */
}

.container {
  border-radius: 4px;
  padding: 30px;
  display: block;
  margin: 0 auto;
  background-color: #cfa76e;
  width: 50%;
  box-sizing: border-box;
}

.city-search {
  width: 60%;
  padding: 20px;
  height: 20px;
  font-size: larger;
  border-radius: 6px;
  border: 1px solid transparent;
  margin-top: 20px;
}

.search {
  width: 20%;
  border: 1px solid rgb(240, 255, 255);
  padding: 10px;
  font-size: larger;
  /* background-color: #04122c; */

  border-radius: 20px;
  border: 1px solid transparent;
  background-color: #481a0e;
  cursor: pointer;
  box-shadow: 4px 4px 4px #8f7667;
  color: #cfa76e;
  margin: 15px;
}

.search:hover {
  opacity: 0.8;
}

form {
  display: flex;
}

ul {
  list-style: none;
}

.country {
  margin-left: 15px;
  color: #481a0e;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 26px;
}

.row {
  width: 80%;
}

.day {
  color: red;
  margin-left: 15px;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 20px;
}

/* .section-1 {
  font-size: 16px;
} */

.temperature {
  font-size: 50px;
  margin-left: 40%;
  color: #481a0e;
  font-weight: 300;
  text-transform: capitalize;
}

.description {
  color: #481a0e;
  margin-left: 15px;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 20px;
}

.unit {
  position: relative;
  top: -30px;
  color: #481a0e;
  position: relative;
  bottom: 50px;
}

a {
  text-decoration: none;
}

.col-shower {
  height: 170px;
  width: 700px;
}

/* .col-6 {
  flex: 0 0 auto;
  width: 40%;
} */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.col-humidity {
  width: 200px;
  height: 30px;
  text-decoration: none;
}

.forecast {
  font-weight: 600;
  color: #481a0e;
  font-size: 25px;
  margin-left: 15px;
  margin-top: 10px;
}

.section {
  margin-top: 20px;
}

img {
  width: 70px;
  margin: 5px;
}

li {
  padding: 0;
  margin: 0;
}

.number {
  font-weight: 500;
  color: #481a0e;
  font-size: 20px;
}

.source-div {
  display: block;
  margin: 0 auto;
  color: #cfa76e;
  width: 50%;
  background-color: #481a0e;
}

.source-link {
  color: #817459;
  font-weight: 800;
}

.source-link:hover {
  color: #cfa76e;
  /* font-size: larger;
  font-weight: 600;
  text-decoration: underline; */
}
